body {
    background-color: chartreuse;
    
    
}

h1, h2, h3, .navbar-brand, .card-title {
    font-family: 'Ink Free regular', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Ink Free regular', 'Arial Narrow', Arial, sans-serif;
}  

a.btn.btn-primary {
    font-family: 'Ink Free regular', 'Arial Narrow', Arial, sans-serif;
    background-color: rebeccapurple;
    border-color: chartreuse;
}

a.btn.btn-primary:hover {
    color: rebeccapurple;
    background-color: orange;

}



#result, #result2, #result3 {
    border: 1px dotted black;
    min-height: 4rem;
}

.navbar-brand:hover {
    color: rebeccapurple;
    
}

nav ul {
    font-family: 'Ink Free regular', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

a {
    text-decoration: none;
    color: rebeccapurple;
}

a:hover {
    color: chartreuse;
}

card-body {
    display: flex;
    justify-content: center;
    
}
/*coding expert yt shorts
h1 {
    color: #eee;
    font-size: 3rem;    
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'monsterrat';
    text-shadow: red -2px 0, cyan 2px 0;
}
*/